<a href="https://colab.research.google.com/github/TranDucDuyAnh/Python05_Tuple/blob/main/Bai05_Tuple_11_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Tạo tuple t

In [ ]:
t = (12, 45, -1, -0.56, "abc", True)

2. In t

In [ ]:
print(t)

(12, 45, -1, -0.56, 'abc', True)

3. In giá trị của phần tử cuối cùng và đầu tiên của t

In [ ]:
print(t[-1])
print(t[0])

True
12

4. In phần tử đầu tiên đến thứ 4 của t

In [ ]:
t[:4]

(12, 45, -1, -0.56)

5. In phần tử thứ 3 đến cuối cùng của t

In [ ]:
t[2:]

(-1, -0.56, 'abc', True)

6. Chuyển tuple t thành list

In [ ]:
t = list(t)
print(t)

[12, 45, -1, -0.56, 'abc', True]